/* Logo to the right */
.admin__collapsible-block-wrapper.cs-csfeature__logo .admin__collapsible-title > span:first-child {         /* Collapsible block title */
    position: relative;
    padding-right: 35px;
}

/* Logo to the left */
.admin__field.cs-csfeature__logo > .admin__field-label > label > span:first-child,                          /* Category fields */
label.cs-csfeature__logo span:first-child {                                                                 /* Store view config */
    position: relative;
    padding-left: 35px;
}

/* Logo image - default position to the left */
.admin__collapsible-block-wrapper.cs-csfeature__logo .admin__collapsible-title > span:first-child:after,    /* Collapsible block title */
.admin__field.cs-csfeature__logo > .admin__field-label > label > span:first-child:after,                    /* Category fields */
label.cs-csfeature__logo span:first-child:after,                                                            /* Store view config */
.section-config.cs-csfeature__logo > .admin__collapsible-block > a:after {                                  /* Section config title */
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY( -50% );
    content: "";
    width: 26px;
    height: 20px;
    background: url('../images/creativeshop-icon.svg') no-repeat 0 0;
}

/* Logo image - position to the right */
.admin__collapsible-block-wrapper.cs-csfeature__logo .admin__collapsible-title > span:first-child:after,    /* Collapsible block title */
.section-config.cs-csfeature__logo > .admin__collapsible-block > a:after {                                  /* Section config title */
    left: unset;
    margin-left: 10px;
}