<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dev>
            <js>
                <minify_exclude>
                    /tiny_mce/
                </minify_exclude>
            </js>
            <css>
                <minify_exclude>
                    /bundle.css
                    /tiny_mce/
                </minify_exclude>
            </css>
        </dev>
        <sales>
            <general>
                <show_print_button>1</show_print_button>
            </general>
        </sales>
        <seo>
            <category>
                <custom_url_redirection_type>302</custom_url_redirection_type>
            </category>
        </seo>
    </default>
</config>
