<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <frontend>
                <minimal_sale_percentage>5</minimal_sale_percentage>
            </frontend>
        </catalog>
        <dev>
            <js>
                <minify_exclude>
                    /tiny_mce/
                </minify_exclude>
            </js>
            <css>
                <minify_exclude>
                    /bundle.css
                    /tiny_mce/
                </minify_exclude>
            </css>
        </dev>
        <sales>
            <general>
                <show_print_button>1</show_print_button>
            </general>
        </sales>
    </default>
</config>
