<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="\MageSuite\Frontend\Service\Breadcrumb\BreadcrumbCategoryFinderInterface"
                type="\MageSuite\Frontend\Service\Breadcrumb\FirstCategoryFinder"/>

    <preference for="\Magento\Catalog\Model\Product\Image"
                type="\MageSuite\Frontend\Model\Product\Image"/>

    <preference for="\Magento\ConfigurableProduct\Model\Product\Type\Configurable"
                type="\MageSuite\Frontend\Model\Product\Type\Configurable"/>

    <preference for="\MageSuite\Frontend\Service\AssetLocator"
                type="\MageSuite\Frontend\Service\MagentoAssetLocator"/>


    <preference for="\Magento\Catalog\Controller\Adminhtml\Category\Save"
                type="\MageSuite\Frontend\Controller\Adminhtml\Category\Save"/>

    <preference for="\Magento\Catalog\Pricing\Price\MinimalPriceCalculatorInterface"
                type="\MageSuite\Frontend\Pricing\Price\MinimalFinalPriceCalculator" />

    <preference for="\Magento\CatalogUrlRewrite\Model\CategoryUrlRewriteGenerator"
                type="\MageSuite\Frontend\Model\CategoryUrlRewriteGenerator"/>

    <type name="Magento\Catalog\Model\Category\Attribute\Backend\Image">
        <plugin name="resize_category_image_teaser" type="\MageSuite\Frontend\Plugin\ResizeCategoryImageTeaser"
                sortOrder="10"/>
    </type>

    <type name="\Magento\Cms\Model\Wysiwyg\Images\Storage">
        <plugin name="optimize_wysiwyg_image" type="\MageSuite\Frontend\Plugin\OptimizeWysiwygImage"
                sortOrder="10"/>
        <plugin name="resize_wysiwyg_image" type="\MageSuite\Frontend\Plugin\ResizeWysiwygImage"
                sortOrder="20"/>
    </type>

    <type name="\Magento\Framework\View\Design\Theme\Customization\Path">
        <plugin name="disable_reading_customization_from_media_directory"
                type="\MageSuite\Frontend\Plugin\DisableCustomViewConfigPath" sortOrder="1"/>
    </type>

    <type name="\Magento\Framework\View\Asset\MergeService">
        <plugin name="disable_clean_merged_js_css"
                type="\MageSuite\Frontend\Plugin\DisableCleanMergedJsCss" sortOrder="1"/>
    </type>

    <type name="\Magento\Catalog\Model\Category\DataProvider">
        <plugin name="update_category_images_data"
                type="\MageSuite\Frontend\Plugin\UpdateCategoryImagesData"
                sortOrder="1"/>
    </type>

    <type name="\Magento\Framework\View\Page\Config">
        <plugin name="update_html_lang_attribute" type="\MageSuite\Frontend\Plugin\UpdateHtmlLangAttribute"
                sortOrder="1"/>
    </type>

    <type name="Magento\ConfigurableProduct\Model\ResourceModel\Product\Type\Configurable">
        <plugin name="sort_attribute_options" type="\MageSuite\Frontend\Plugin\SortAttributeOptions"/>
    </type>

    <type name="Magento\Store\Block\Switcher">
        <plugin name="switch_storeview_replace_url"
                type="\MageSuite\Frontend\Plugin\SwitchStoreViewReplaceUrl"/>
    </type>

    <type name="Magento\GoogleAnalytics\Block\Ga">
        <plugin name="add_google_optimize_container_id"
                type="MageSuite\Frontend\Plugin\AddGoogleOptimizeContainerIdToJs"/>
    </type>

    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="category_view_change" type="MageSuite\Frontend\Plugin\CategoryView" />
    </type>

    <type name="Magento\Catalog\Block\Product\View\GalleryOptions">
        <plugin name="add_maxheight_to_fotorama_options_json" type="MageSuite\Frontend\Plugin\Catalog\Block\Product\View\GalleryOptions\AddMaxheightToFotoramaOptionsJson" />
    </type>

    <type name="Magento\Catalog\Helper\Product\ProductList">
        <plugin name="category_view_switcher" type="MageSuite\Frontend\Plugin\CategoryViewSwitcher" />
    </type>

    <type name="Magento\ProductAlert\Controller\Add">
        <plugin name="add_information_message_before_login" type="MageSuite\Frontend\Plugin\ProductAlert\AddInformationMessageBeforeLogin" sortOrder="5"/>
    </type>

    <type name="MageSuite\ProductTile\Helper\AddToCart">
        <plugin name="mark_simplified_bundle_as_not_configurable" type="\MageSuite\Frontend\Plugin\ProductTile\Helper\AddToCart\MarkSimplifiedBundleAsNotConfigurable"/>
    </type>

    <type name="Magento\Bundle\Pricing\Render\FinalPriceBox">
        <plugin name="hide_range_price_in_simplified_bundle" type="\MageSuite\Frontend\Plugin\Bundle\Pricing\Render\FinalPriceBox\HideRangePriceInSimplifiedBundle" />
    </type>

    <type name="Magento\Framework\HTTP\PhpEnvironment\RemoteAddress">
        <arguments>
            <argument name="alternativeHeaders" xsi:type="array">
                <item name="x-forwarded-for" xsi:type="string">HTTP_X_FORWARDED_FOR</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Cms\Model\Wysiwyg\Images\Storage">
        <arguments>
            <argument name="extensions" xsi:type="array">
                <item name="allowed" xsi:type="array">
                    <item name="svg" xsi:type="string">image/svg+xml</item>
                </item>
                <item name="image_allowed" xsi:type="array">
                    <item name="svg" xsi:type="string">image/svg+xml</item>
                </item>
                <item name="media_allowed" xsi:type="array">
                    <item name="svg" xsi:type="string">image/svg+xml</item>
                </item>
            </argument>
        </arguments>
        <plugin name="m2c_svg_handler" type="MageSuite\Frontend\Plugin\WysiwygImagesStoragePlugin"/>
    </type>

    <virtualType name="Magento\Catalog\CategoryImageUpload" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="svg" xsi:type="string">svg</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="svg" xsi:type="string">image/svg+xml</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Swatches\Helper\Data">
        <plugin name="missing_zero_swatch_value_plugin"
                type="MageSuite\Frontend\Plugin\Swatches\MissingZeroValueSwatch"/>
    </type>

    <type name="\Magento\Cms\Controller\Adminhtml\Wysiwyg\Directive">
        <plugin name="directivePlugin" type="\MageSuite\Frontend\Plugin\PreserveTransparencyOnModal" sortOrder="1" />
    </type>



    <type name="Magento\Catalog\Block\Product\View">
        <plugin name="re_add_breadcrumbs_to_product_view" type="MageSuite\Frontend\Plugin\ReAddBreadcrumbsToProductView" />
    </type>

    <type name="Magento\Cms\Block\Widget\Page\Link">
        <plugin name="get_page_url_by_group_identifier" type="MageSuite\Frontend\Plugin\Cms\Block\Widget\Page\Link\GetPageUrlByGroupIdentifier" />
    </type>

    <type name="MageSuite\Opengraph\Service\TagsCollector">
        <arguments>
            <argument name="dataProviders" xsi:type="array">
                <item name="category" xsi:type="array">
                    <item name="image_teaser" xsi:type="array">
                        <item name="class" xsi:type="object">MageSuite\Frontend\DataProviders\Opengraph\CategoryImageTeaser</item>
                        <item name="sortOrder" xsi:type="number">25</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Catalog\Model\Product\Type\AbstractType">
        <plugin name="allow_buying_simplified_bundle_from_list" type="MageSuite\Frontend\Plugin\Catalog\Model\Product\Type\AbstractType\AllowBuyingSimplifiedBundleFromList" />
    </type>

    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="add_bundle_selections_to_simplified_bundle" type="MageSuite\Frontend\Plugin\Catalog\Block\Product\ListProduct\AddBundleSelectionsToSimplifiedBundle" />
    </type>

    <type name="Magento\Framework\App\ProductMetadataInterface">
        <plugin name="cache_magento_version" type="MageSuite\Frontend\Plugin\Framework\App\ProductMetadataInterface\CacheVersion" />
    </type>
</config>
