<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog">
            <group id="frontend">
                <field id="sort_direction" translate="label comment" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Product Listing Sort Direction</label>
                    <source_model>MageSuite\Frontend\Model\Config\Source\SortingDestination</source_model>
                </field>
            </group>
        </section>
        <section id="google" translate="label">
            <group id="optimize" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Google Optimize</label>
                <field id="optimize_container_id" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Optimize Container ID</label>
                </field>
            </group>
        </section>
    </system>
</config>